// $main-color: rgb(40, 40, 129);

$main-color: #14caba;

$h1h2-color: rgb(19, 19, 85);

$h1h2-color: #14caba;

$font-color: rgb(151, 148, 148);
$background-color: rgb(196, 224, 235);
$header-background-color: #222;
