@import "./variables/_colors.scss";
@import "./variables/_variables.scss";
@import "./functions/_functions.scss";
@import "./layout/_common.scss";
@import "./pages/_index.scss";
@import "./pages/_article.scss";
@import "./pages/_bands.scss";
@import "./pages/_contact";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/scss/bootstrap.scss";

* {
  box-sizing: border-box;
}

body,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: "Roboto", sans-serif;
  color: $main-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: $main-color;
  margin: 0;
  word-break: break-word;
  text-align: center;
  font-weight: 600;
}

h1 {
  font-size: addfontaizevalue(40) + px;
  margin: 40px 0;
}

h2 {
  margin-bottom: 0;
  margin-top: 25px;
  font-size: 1.3333333333333333rem;
}

h3 {
  margin-bottom: 0;
  margin-top: 25px;
  font-size: 1.3333333333333333rem;
  color: $header-background-color;
}

p {
  color: #eee;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-top: 10px;
}

a {
  color: $main-color;
  text-decoration: none;

  & a:hover {
    transition: color 0.5s ease-out;
    color: $main-color;
    text-decoration: none !important;
    border: none;
  }
}

.grow {
  & .grow:hover {
    transform: scale(1.1);
  }
}

@media all and (max-width: 800px) {
  .container-principal,
  .container-images {
    padding: 10px;
  }
}
