@import "./variables/colors.scss";
@import "./functions/functions.scss";
@import "./layout/common.scss";
@import "./pages/index.scss";
@import "./pages/article.scss";
@import "./pages/bands.scss";
@import "./pages/contact.scss";
@import "@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: border-box;
}

body,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: "Roboto", sans-serif;
  color: $main-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: $h1h2-color;
  margin: 0;
  word-break: break-word;
  text-align: center;
  font-weight: 600;
}

h1 {
  font-size: addfontaizevalue(40) + px;
  margin: 40px 0;
}

h2 {
  margin-bottom: 0;
  margin-top: 25px;
  font-size: 1.3333333333333333rem;
}

h3 {
  margin-bottom: 0;
  margin-top: 25px;
  font-size: 1.3333333333333333rem;
  color: $header-background-color;
}

p {
  color: #eee;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-top: 10px;
}

a {
  color: $h1h2-color;
  text-decoration: none;
}

a:hover {
  transition: color 0.5s ease-out;
  color: $main-color;
}

.grow:hover {
  transform: scale(1.1);
}

@media all and (max-width: 800px) {
  .container-principal,
  .container-images {
    padding: 10px;
  }
}
