@media all and (max-width: 800px) {
  .container {
    display: block;
  }

  .left-data {
    text-align: center;
  }

  .left-data-main {
    margin: 0 20px;
    padding-top: 20px;
  }

  .left-data-languages {
    margin-bottom: 0;
    padding-bottom: 10px;
  }

  .right-data {
    border-right: none;
  }

  .right-data-header {
    display: inline-block;
  }

  .right-data-header__photo {
    padding: 0 20px;
    text-align: center;
  }

  .right-data-header__photo img {
    margin-top: 0;
  }

  .right-data-item__col1 {
    padding: 0 20px;
  }

  .right-data-others {
    margin: 0 20px;
    padding-bottom: 20px;
  }
}
